body {
    background: #344557 url(https://images.thdstatic.com/productImages/23025837-4c0f-453c-aa29-4df433ef1da0/svn/a-street-prints-wallpaper-rolls-2716-23811-64_1000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #ffe6f7;
}
.homeButton {
    /* text color is controlled in index.css file */
    font-size: 18px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #D1CCFF, #FFB7B9) 1;
    padding: 0px;
    margin: 0px;
    transition: transform .7s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    background-image: linear-gradient(to right, #D1CCFF, #FFB7B9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* #CF91FF, #5782F5 */
}


.homeButton:hover {
    transform: scale(1.2);
    /* box-shadow: 5px 5px 5px 1px #0000007a;
    transition: box-shadow 0.6s; */
}