body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* this is to override the link component in the css file; this code affects the buttons on the home page */
a {
  text-decoration: none;
  background-image: linear-gradient(to right, #D1CCFF, #FFB7B9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}